
.swal2-input[multiple] {
    height: auto;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
}

.swal2-input {
    box-sizing: border-box;
    padding: 8px;
    font-size: 20px;
    width: 100%;
    min-width: 220px;
    margin: 0;
}

.swal2-select {
    box-sizing: border-box;
    padding: 8px;
    font-size: 20px;
    width: 100%;
    min-width: 220px;
    margin: 0;
}

.custom-swal-input {
    box-sizing: border-box;
    padding: 5px;
    font-size: 16px;
    width: 80%;
    min-width: 150px;
    margin: 0 auto;
}


